*{
	margin: 0;
	padding: 0;
	font-family: "patrick-hand",cursive;
}
body{
	background-color: #000;
}
.header{
	height: 100px;
	background: #3498db;
	padding: 0 20px;
	color: #fff;
}

.logo{
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}
  
.menu{
	float: right;
	line-height: 100px;
}

.menu a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;  
}

.show-menu-btn,.hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.show-menu-btn{
	float: right;
}

.show-menu-btn i{
	line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
	color: #000;
}

#chk{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}	
  
.content{
	padding: 0 20px;
}

.content img{
	width: 100%;
	max-width: 700px;
	margin: 20px 0;
}
.content p{
	text-align: justify;
}

#menu{
	visibility: hidden;
	position: absolute;
	top: 30px;
	border: 3px solid #2760ff;
	border-radius: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	color:white;
}

@media screen and (max-width:800px) {
	.show-menu-btn,.hide-menu-btn{
	  	display: block;
	}
	.menu{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #333;
	  right: -100%;
	  top: 0;
	  text-align: center;
	  padding: 80px 0;
	  line-height: normal;
	  transition: 0.7s;
	}
	.menu a{
	  display: block;
	  padding: 20px;
	}
	.hide-menu-btn{
	  position: absolute;
	  top: 40px;
	  right: 40px;
	}
	#chk:checked ~ .menu{
	  right: 0;
	}
	#menu{
		visibility: visible;
	}
}